################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IntStreamProblem/.vs/IntStreamProblem
/IntStreamProblem/bin/Debug/netcoreapp3.1
/IntStreamProblem/obj
